# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.venv/
venv/
ENV/

# VSCode
.vscode/

# Banco de dados
*.db

# Imagens temporárias
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico

# Outros
.DS_Store
Thumbs.db
